* {margin: 0; padding: 0;}
a {text-decoration-line: none; }
.wrapper {
    width: 1080px;
}
body{background-color: #f2f0f0;
    font-family: "맑은 고딕";
    font-size: 12px;
    color: #444444;
}

ul{
    list-style-type: none;
}

#clear {
    clear: both;
}

header #logo {
    float: left; 
    padding: 30px 0 0px 70px; 
 }

header #search {
    display: inline-block;
    margin: 40px 0 0 100px;
}
header #search li{
    color: rgb(150,193,31);
    margin-left: 10px;
    float: left;
    font-weight: 700;
}
header #top_menu {
    float: right;
    margin: 50px 0 0 30px; 
}

header #top_menu li {
    display: inline;
    margin : 0 10px 0 10px;
}

header #top_menu .top_menu_f{
    color: rgb(150,193,31);
    font-weight: 700;
}
header #main_menu {
    font-size: 12px;
    color: #ffffff;
    background-color: #4e4c4d;
    margin-top: 15px;
    padding: 12px;
    text-align: center;
}
header #main_menu li {
    display: inline;
    padding: 0 50px 0 50px;
}

aside div{
    float: left;
    margin: 20px 0 5px 50px;
    width: 210px; height: 350px;
}
aside h4{
    background-color: rgb(150,193,31);
    color: white;
    text-align: center;
    padding: 10px 0 10px 0;
}
aside li {
    border-bottom: 1px solid rgb(184, 184, 184);
    padding: 7px 0 6px 20px;
    font-weight: 700;
}

main .wrapper{
    width: 1080px; height: 1500px;}

main section {
    display: inline-block;
    margin-left: 50px;
    width: 400px; height: 350px;
}

main article {
    width: 1080px;     
}
main #main_img {
    float: left;
    max-width: 100%;
    width: 550px; height: 350px;
    margin: 20px 0 10px 0;
}

main #main_top_right {
    float: right;
    width: 310px;
    margin: 20px 20px 0 0;
    padding-right: 60px;
    width: 170px; height: 380px;
}

main #notice{
    width: 240px; height: 180px;
    background-repeat: no-repeat;
    background-image : url('../img/latest_notice.gif');
}
main #notice ul {
    padding: 40px 0 10px 10px;
}
main #notice li {
    font-size: 8pt;
}

main #week_event{
    width: 240px; height: 190px;
    background-repeat: no-repeat;
    background-image : url('../img/week_event.gif');
}

main #week_event img {
    padding: 65px 10px 0 30px;
}

main #middle_block {
    float: left;
    width: 580px; height: 390px;
    background-image : url('../img/special_shop.gif');
    background-repeat: no-repeat;
    margin-top: 20px;
}

main #middle_block div {
    margin: 60px 10px 10px 30px;
    float: left;
}

main #middle_block div img {
    margin-left: 5px;
    padding: 15px;
    border: 1px solid rgb(184, 184, 184);
}
main #main_middle_right{
    width: 440px;
    margin: 5px;}
main #main_middle_right .r1{
    background-image : url('../img/landscape.gif');
    background-repeat: no-repeat;
    margin: 5px 0 0 5px;
    padding: 0 0 0 160px;
    float: left;
}
main #main_middle_right .r2{
    background-image : url('../img/point_wallpaper.gif');
    background-repeat: no-repeat;
    margin: 5px 0 0 5px;
    padding: 0 0 0 160px;
    float: left;
}
main #main_middle_right .r3{
    background-image : url('../img/children.gif');
    background-repeat: no-repeat;
    margin: 5px 0 0 5px;
    padding: 0 0 0 160px;
    float: left;
}

main #bottom_block {
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    width: 1080px; height: 100%;
    display: inline-block;
    align-items: center;
}
main #bottom_block hr {
    width: 980px;
    margin: 20px 0 0 0;
    border: 1px solid rgb(145, 179, 123);
}
main #bottom_block p1 { font-size : 15px ;color: rgb(145, 179, 123); font-weight: 600;}
main #bottom_block p2 { font-size : 15px ; font-weight: 600;}
main #bottom_block #title {
    margin: 10px;
    float: left;
}
main #bottom_block div {
    float: left;
    margin: 10px;
    padding: 5px;
    text-align: center;
}

/* Font */
main #bottom_block .title1 { color:rgb(145, 179, 123); font-size: 13px; }
main #bottom_block .title2{ color: gray; font-size: 13px;}
main #bottom_block .price{ font-size: 13px; }


footer {            
    width: 100%; height: 200px;
    float: left;
}
footer #bottom_menu{
    width: 100%;
    font-size: 12px;
    color: #ffffff;
    background-color: #444444;
    margin-top: 15px;
    padding: 12px 0 12px 0;
    text-align: center;
}
footer #bottom_menu li{
    margin-right: 10px;
}
footer ul{
    float: left;
    display: inline;
    padding: 20px 50px 0 100px;
}

footer li {
    display: inline;
    padding: 0 10px 0 10px;
}

