* {margin: 0; padding: 0;}

a {text-decoration-line: none;
    color: #222222;}
a:visited{color: #222222;}

.clear{clear: both;}
ul, li, ol {list-style-type: none; }
.topmenu {
    float: right;
    width: 15%;
    min-width: 230px;
    margin-right: 50px ;
    margin-top: 20px;
}
.topmenu li {
    font-size: 10pt;
    font-weight: 200;
    color: #7e7d7d; float :left; margin-left: 15px;}

#logo {
    width: 100%;
    height: 6em;
    margin-bottom: 20px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#logo img{
    width: 80%;
}
.menu {
    height: 30px;
    }
.main {
    width: 100%; 
    padding-top: 6px;
    padding-bottom: 6px;
    margin: 0 auto;
    
    display: flex;
    justify-content: center;
    align-items: center;

    border-top: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
    background-color: white;

}

.main > li{
    width: 20%; 
    max-width: 250px;
    height: 40px;
    display: inline-block;
    position: relative;
    text-align: center;
    align-items: center;
    line-height: 40px;
    font-size: 11pt;
    font-weight: bold;
}

ul > li > a{
    display: block;
    margin: 0 auto;
    text-align: center;
}
.submenu {
    box-sizing: border-box;
    width: 100%; margin: 0 auto;
    box-sizing: border-box;
    display: inline-block;
}

.submenu ul {
    width: 100%; 
    display: none;
}
.submenu img{
    width: 80%;
    margin-top: 5px;
}
.submenu ul li {
    width: 130px;
    display: inline-flex;
    justify-content: space-around;
    text-align: center;
}

.main > li:hover> .submenu{
    width: 750px; 
    border-radius: 20px;
    background-color: #dfdfe0;
    transition-duration: 0.8s; 
    transition-property: all;
}
.main > li:hover> .submenu ul {
    display: inline-flex;
    justify-content: space-between;
   
} 
.main li:hover .submenu ul li a:hover{
    color: rgb(0, 153, 255); 
}