* {margin: 0; padding: 0;}
a {text-decoration-line: none;
    color: #222222;}
a:visited{color: #222222;}
 /* FIXME: 미디어 쿼리 / 일정 사이즈 이하로 줄이면 480px 까지 반응형으로 만들기 */
 
 .container {
    width: 100%;
    margin: 0 auto;
}

@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

body{
    padding-top: 200px;
    font-family:'Pretendard-Regular';
    font-size: 13px;
    color: #222222;
    text-align: center;
}

header {
    top:0;
    width: 100% ; 
    margin: 0 auto;
    background-color: white;
    position: fixed;
}

footer{
    width: 100%; height: auto;
    margin: 0 auto;
    display: flex;
    justify-content: flex-start;
}